html {
    font-size: 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#limitador {
    max-width: 1200px;
    margin: 0 auto;
    box-shadow: 0 0 1rem;

}

#secao1,
#secao2,
#secao3,
#secao4,
#secao5 {
    background-image: url(secao1.2.webp);
    background-position: center;
    background-size: cover;
    min-height: 100vh;
    box-sizing: border-box;
    padding: 2rem 4rem;
}

#faixaLogo {
    display: flex;
    flex-direction: row;
    padding-bottom: 3rem;
}

#logo {
    width: 35px;
    padding-right: 4px;
}

.blocoTexto1 {
    display: flex;
    flex-direction: column;
    align-items: baseline;

    max-width: 50%;
}

p,
a {
    font-size: 20px;
}

.blocoTexto1 h1 {
    font-size: 60px;
}

.texto1 {
    margin: 2rem 0;
}

.botao {
    text-decoration: none;
    color: whitesmoke;
    border: 1px solid purple;
    background-color: purple;
    padding: 1rem;
    border-radius: 10px;
}

#secao2 {
    background-image: none;
    padding: 6rem 1rem;
}

h2 {
    font-size: 35px;
    font-weight: bold;
}

.podium {
    padding-top: 10rem;
}

.podium p,
.podium a {
    font-size: 20px
}

.podium h2 {
    font-size: 25px;
}

.podium img {
    width: 50px;
}

#secao3 {
    background-image: none;
}

#site {
    width: fit-content;
    margin: 9rem auto;
    box-shadow: 0 0 2rem;
}

#secao4 {
    padding: 8rem 3rem;
    background-image: none;
    background-color: black;
}

#chamadaS4 {
    font-size: 35px;
    color: antiquewhite;
    text-align: center;

}

.textos4 h1 {
    color: whitesmoke;
    margin-bottom: 2rem;
    font-size: 2rem;
}

.textos4 p {
    color: grey;
    font-size: 1.5rem;
}

.textos4 {
    display: flex;
    flex-direction: column;
    padding-left: 10rem;

}

.blocos4 {
    margin: 2rem 0;
}

.imagems4s {
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.imagems4s img {
    box-shadow: -0.5rem -0.5rem 1rem;

}

#secao5 {
    padding: 5rem 6rem;
    background-image: none;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

}

#chamadaS5 {
    font-size: 35px;
}

h3 {
    font-size: 25px;
    font-weight: bold;
}